body {
    background-color: rgb(253,244,233);
}

.heading {
    color: yellow; 
    background-color: rgb(65,126,128); 
    text-align: center; 
    padding: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: azure;
    width: 400px;
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80vw;
}

.card img {
    width: 100%;
    padding: 2rem;
}